SUBSYSTEM=="input", ACTION=="add", KERNEL=="*mouse*", ATTRS{idVendor}=="18f8", ATTRS{idProduct}=="1286", RUN+="/home/hui/mhc/scripts/tools/touchpad/touchpad-toggle.sh d"
SUBSYSTEM=="input", ACTION=="remove", KERNEL=="*mouse*", ATTRS{idVendor}=="18f8", ATTRS{idProduct}=="1286", RUN+="/home/hui/mhc/scripts/tools/touchpad/touchpad-toggle.sh e"
